@import 'helpers/variables';
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');



.button-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.category-buttons{
  height: 20vh;
  width: 14vw;
  padding: .7rem 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 3rem;
  font-weight: 700;
  color: $form-text-color;
  cursor: pointer;
  background-color: $menu-popup;
  font-family: 'Yatra One', cursive;}

.category-buttons:hover{
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  color: $white;
  border-radius: 25px;
  border: 4px double $red-dark;
}