@import 'helpers/variables';


.comp-tile-display{
  height: 100%;
  width: 50%;
  // display: flex;
  flex-wrap: wrap;
  background-color: $page-background-color;
}

.comp-tile {
  background-color: $white;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.comp-image {
  width: 394px;
  height:144px;
  border: $red-light solid 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

.comp-tile-name {
  font-size: 30px;
  height: 50px;
  width:400px;
  text-align: center;
}