@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import 'helpers/variables';



.about-box{
  height: 65vh;
  width: 67vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $comp-color;
  border: 2px solid $off-white;
  border-radius: 43px;
  padding: 2%;
  overflow: scroll;
}

.about-box::-webkit-scrollbar {
  display: none;
}

.about-text {
  width: 90%;
  align-self: flex-start;
  font-size: 48px;
  font-weight: 700;
  line-height: 5rem;
  color: $form-text-color;
  font-family: 'Noto Serif', serif;
}

.scroll-arrow{
  color: $off-white;
  position: fixed;
  bottom: 0;
  align-self: flex-end;
  margin-left: 15px;
}