@import 'helpers/variables';
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


.checkout-box {
  width: 55vw;
  height: 67vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $red-dark;
  border-radius: 30px;
  background-color: $menu-popup;
}

.product {
  height: 18vh;
  width: 25vw;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.membership-tag {
  width: 30vw;
  height: 35vh;
}

.description {
  height: 30vh;
  width: 85%;
  color: $off-white;
  line-height: 5vh;
  font-family: 'Courgette';
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.dsc-text {
  height: 100%;
  width: 100%;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 15%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.checkout-btn {
  height: 7vh;
  width: 15vw;
  padding: 1rem 1rem;
  font-family: 'Courgette', cursive;
  font-size: 28px;
  font-weight: 700;
  border-radius: 13px;
  border: none;
  outline: none;
  background-color: $off-white;
  display: flex;
  justify-content: center;
}

.checkout-btn:hover {
  height: 7.2vh;
  color: $off-white;
  transition: all 0.2s ease-in-out;
  border: 4px solid $off-white;
  background-color: $page-background-color;
  padding: .9rem 1rem;
}