@import 'helpers/variables';


h5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #bf1650;
  font-size: 18px;
  margin-top: 10px;
  z-index: 10;
}

h5::before {
  display: inline;
  content: "⚠ ";
}

.form-container {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.form-control {
  text-align: center;
  margin-top: 13px;
}

.form-control h4 {
  width: 100%;
  color: $form-text-color;
  margin: 10px 0px 10px 0px;
}

.form-control input[type='text'],
.form-control input[type='password'],
.form-control input[type='date'] {
  width: 100%;
  padding: 8px;
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: space-around;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1.5fr 1.5fr .8fr 2fr;
  gap: 0px .8em;
  margin-top: 5vh;
  grid-template-areas:
    "first-name last-name"
    "birthday email"
    "username password"
    ". ."
    "submit-btn submit-btn";
}

.first-name{
  grid-area: first-name;
}

.last-name{
  grid-area: last-name;
}

.birthday{
  grid-area: birthday;
}

.email{
  grid-area: email;
}

.username{
  grid-area: username;
}

.password{
  grid-area: password;
}

.submit-btn{
  grid-area: submit-btn;
  width: 100%;
  height: 6vh;
  border: none;
  border-radius: 13px;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: $red-dark;
  color: $off-white;
}

button {
  padding: 5px 10px;
}

@media screen and (max-width: 600px) {

  .subscribe {
    width: 100%;
    
  }

  .errorMsg {
    max-width: 100%;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-control {
    flex-direction: column;
  }

  .form-control input[type='text'],
  .form-control input[type='password'],
  .form-control input[type='date'] {
    width: inherit;
  }

  .submit-btn{
    width: 10vw;
    height: 6vh;
    border: none;
    border-radius: 40%;
    font-size: 1em;
    background-color: $red-dark;
    color: $off-white;
  }
}