@import 'helpers/variables';


body {
  overflow: hidden;
}

.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-flex-container {
  display: flex;
}

.side {
  flex: 1;
}


.side:first-child {
  flex-direction: column;
  margin-right: 2.5vw;
}

.bottom {
  margin-top: 3vh;
}



.errorMsg {
  max-width: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $error-text-color;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

.errorMsg strong{
  font-size: 18px;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.form-control label {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $form-text-color;
  margin-bottom: 5px;
}

.form-control input[type='text'],
.form-control input[type='password'],
.form-control input[type='date'] {
  width: 85%;
  padding: 5px;
  margin-bottom: 3vh;
}

button {
  max-width: 150px;
  padding: 5px 10px;
}

@media screen and (max-width: 600px) {

  .subscribe {
    width: 100%;
    
  }

  .errorMsg {
    max-width: 100%;
  }

  .form-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-control {
    flex-direction: column;
  }

  .form-control input[type='text'],
  .form-control input[type='password'],
  .form-control input[type='date'] {
    width: inherit;
  }
}