@import 'helpers/variables';
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');



.user-edit-grid{
  width: 40%;
  display: grid;
  justify-content: end;
  text-align: center;
  align-content: stretch;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr;
  gap: 1em 2em;
  margin-top: 5vh;
  grid-template-areas:
    "first first-input"
    "last last-input"
    "email email-input"
    "password password-input"
    ". ."
    "update-btn update-btn";
}

.title{
  color: $off-white;
}

.first { 
  grid-area: first;
}

.first-input{
  grid-area: first-input;
  height: 3vh;
  width: 100%;

}

.last { 
  grid-area: last; 
}

.last-input { 
  grid-area: last-input; 
  height: 3vh;
  width: 100%;

}

.email { 
  grid-area: email; 
}

.email-input { 
  grid-area: email-input; 
  height: 3vh;
  width: 100%;

}

.password { 
  grid-area: password; 
}

.password-input { 
  grid-area: password-input; 
  height: 3vh;
  width: 100%;
}

.update-btn{
  grid-area: update-btn;
  height: 5.8vh;
  width: 40%;
  justify-self: center;
  padding: .7rem 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 700;
  color: $off-white;
  cursor: pointer;
  background-color: $red-dark;
  font-family: 'Courgette', cursive;
}

.update-btn:hover{
  padding: .5rem 1rem;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  color: $off-white;
  border-radius: 25px;
  border: 4px solid $red-dark;
}