@import 'helpers/variables';



.user-info{
  width: 100%;
  height: 10%;
  position: absolute;
  top: 20vh;
}

.page-title{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: $off-white;
}

.user-edit-grid{
  // height: 25%;
  width: 40%;
  display: grid;
  justify-content: end;
  // justify-items: center;
  align-content: center;
  // align-items: flex-end;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: .5fr .5fr .5fr .5fr .5fr;
  gap: 1em 2em;
  grid-template-areas:
    "first first-input"
    "last last-input"
    "email email-input"
    "password password-input"
    "update-btn update-btn";
}

.title{
  color: $off-white;
}

.first { 
  grid-area: first;
}

.first-input{
  grid-area: first-input;
  height: 3vh;
  width: 100%;

}

.last { 
  grid-area: last; 
}

.last-input { 
  grid-area: last-input; 
  height: 3vh;
  width: 100%;

}

.email { 
  grid-area: email; 
}

.email-input { 
  grid-area: email-input; 
  height: 3vh;
  width: 100%;

}

.password { 
  grid-area: password; 
}

.password-input { 
  grid-area: password-input; 
  height: 3vh;
  width: 100%;
}

.update-btn{
  grid-area: update-btn;
  height: 5.8vh;
  width: 40%;
  justify-self: center;
  padding: .7rem 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 700;
  color: $off-white;
  cursor: pointer;
  background-color: $red-dark;
  font-family: 'Courgette', cursive;
}