@import 'helpers/variables';

.dropdown-menu{
  width: 200px;
  position: absolute;
  top: 9.5vh;
  right: 19.5vw;
  list-style: none;
  text-align: start;
}

.dropdown-menu li{
  background: $red-dark;
  cursor: pointer;
}

.dropdown-menu li:hover{
  background: $red-light;
}

.dropdown-menu.clicked{
  display: none;
}

.dropdown-link{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #FFF;
  padding: 14px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}