// *******************
// ! Color Variables !
// *******************

// * Button Colors
$red-dark: #B60E2A;  // ? Main color for buttons
$red-light: #EC1337;  // ? Optional button color on hover perhaps?
$off-white: #E2DFDF;  // ? Secondary Button Color

// * Main Colors
$main-header-color: #222222;  // ? Main Header Color
$page-background-color: #333333;  // ? Background color for Pages

$menu-popup: #242222;  // ? Pop-out Menu Color

$error-text-color: #F21E08;  // ? Error text color

// * Modal Background
$modal-background: #201f1f;   // ? Modal Backround
$reverse-shadow: #B4B5BB;   //  ? Modal Font

// * Basic Colors
$white: #FFFFFF;  // ? White, simple enough eh?
$black: #000000;

//  * Form Business
$form-text-color: #b4b5bb;  // ? Text color for forms
