@import 'helpers/variables';

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  margin: 0;
  padding: 0;
  
  // box-sizing: border-box;
}

body {
  overflow: hidden;
}

.main-header { 
  height: 18vh;
  max-width: 100vw;
  font-family: 'Courgette', cursive;
}


.login, dialog{
  position: relative;
  right: 0;
  margin-right: 3.1vw;
}

.subscribe, dialog{
  position: relative;
  margin-right: 70vw;
}

.about, .contact, .favorites, .home, .subscribe, .upload, .user, .payment, .component_category{
  display: flex;
  height: 82vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: $page-background-color;
}

.login{
  display: flex;
  z-index: 3;

  height: 49vh;
  max-width: 20vw;

  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 25px;
  color: $off-white;

  border: 2px solid $off-white;
  box-shadow: 0 0 10px $reverse-shadow;
  background-color: $modal-background;
}


.subscribe{
  display: flex;
  z-index: 3;

  height: 65vh;
  min-width: 40vw;

  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 25px;

  border: 2px solid $red-dark;
  box-shadow: 0 4px 7px 1px $reverse-shadow;
  background-color: $modal-background;
}

.contact{
 
  background-color: $main-header-color;
}
