$page-background-color: #333333;

* {
  margin: 0;
  padding: 0;
}

.about, .contact, .favorites, .home, .subscribe, .upload, .user{
  display: flex;
  height: 90vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: $page-background-color;
}