@import 'helpers/variables';

body{
  overflow: hidden;
}



#login-container{
  height: 4vh;
  width: 100%;
}

.login-form{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-info{

}

.input-fields{
  align-self: center;
}

.login-btn{
  width: 9vw;
  height: 6vh;
  border: none;
  border-radius: 13px;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: $red-dark;
  color: $off-white;
}